@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  text-align: inherit;
  text-decoration: inherit;
  text-transform: inherit;
  vertical-align: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*:active,
*:focus {
  outline: none;
}

html {
  min-width: 100vw;
  min-height: 100vh;
  @apply text-gray-1;
}

body {
  min-width: 100vw;
  min-height: 100vh;
}
